@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<ol>
    <li>
        <NavLink href="/wasmcounter">Wasm Counter</NavLink>
    </li>
    <li>
        <NavLink href="/wasmhelloworld">Wasm Hello World</NavLink>
    </li>
    <li>
        <NavLink href="/servercounter">Server Counter</NavLink>
    </li>
    <li>
        <NavLink href="/serverhelloworld">Server Hello World</NavLink>
    </li>
    <li>
        <NavLink href="/ssrhelloworld">SSR Hello World</NavLink>
    </li>
</ol>
